.couple-profile {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media only screen and (max-width: 720px) {
    height: 100%;
  }
  .title {
    text-align: center;
    font-size: 42px;
    @media only screen and (max-width: 720px) {
      font-size: 35px;
      margin-top: 21px;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 72px;
    @media only screen and (max-width: 720px) {
      flex-direction: column;
      margin-top: 32px;
    }
    .item {
      max-width: 320px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .circle {
        border-radius: 50%;
        height: 280px;
        width: 280px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 280px;
          max-height: 100%;
        }
      }
      .name {
        text-align: center;
        margin: 28px 0;
        font-family: 'Satisfy', cursive;
        font-size: 28px;
      }
      .description {
        text-align: center;
        font-size: 21px;
        span {
          display: block;
          &:nth-child(2) {
            font-weight: bold;
          }
        }
      }
      .and {
        font-size: 128px;
      }
    }
  }
}
